<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> 
</head>
<body>
    <div class="background-wrapper">
    <div class="container">
        <div class="card custom-card">
            <div class="card-header">
                <h1 class="card-title">Grade Calculator</h1>
                <h6>Made by Jack Schultz</h6>
            </div>
            <div class="card-body">
                <form method="post" id="gradeForm">
                    <div class="form-group">
                        <label for="num_of_tests">Number of Tests Taken</label>
                        <input type="number" class="form-control" name="num_of_tests" required id="num_of_tests" value="{{ request.form.get('num_of_tests', '') }}">
                    </div>
                    
                    <div class="test-card" id="testFieldsGroup" style="display: none;">
                        <div class="row" id="testFieldsContainer"></div>
                    </div>

                    <div class="form-group">
                        <label for="formative_grade">Formative Grade (0-100)</label>
                        <input type="text" class="form-control" name="formative_grade" required>
                    </div>

                    <div class="form-group">
                        <label for="grade_test">Hypothetical Test Grade (0-100)</label>
                        <input type="text" class="form-control" name="grade_test">
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">
                     Calculate
                    </button>
                </form>

                {% if answer %}
                    <div class="mt-4 alert alert-success">
                        <span class="icon">&#x2705;</span> {{ answer }}
                    </div>
                    <br>
                <div align="center">
                    <a type="button" class="btn btn-primary" href="/">Reset</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
